/*------------------------------------*    SITEWIDE SASS VARIABLES
\*------------------------------------*/
/**** Colors ****/
.disabled, .overlay {
  opacity: 0.65; }

/*------------------------------------*    STRUCTURE
\*------------------------------------*/
html, body {
  background-color: #051A2D;
  overflow: hidden; }

.wrapper {
  max-width: 1920px;
  width: 90%;
  margin: 48px auto; }

#header {
  margin: 24px auto 16px; }

#input, #output {
  position: relative; }

#details {
  position: absolute;
  width: 300px;
  bottom: 80px;
  right: 50px;
  height: 200px;
  border-radius: 5px;
  background-color: #333333; }

/* Legends */
.mapLegend {
  width: 430px;
  height: 40px; }

.legendCells {
  width: 430px;
  margin: 0 auto; }

/* Style for Custom Tooltip */
.tooltip {
  position: absolute;
  text-align: center;
  width: 164px;
  height: 120px;
  padding: 8px;
  background: #333333;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 100; }

/*------------------------------------*    CHARTS
\*------------------------------------*/
.bar {
  fill: #BCAF7E; }

.bar:hover, .active {
  fill: #F28532; }

.axis {
  font-family: 12px;
  font-size: 12px; }

.axis path, .axis line {
  fill: none;
  stroke-width: 0;
  shape-rendering: crispEdges; }

.path {
  stroke: #051A2D;
  stroke-width: 1; }

/*------------------------------------*    TEXT
\*------------------------------------*/
/* html element 62.5% font-size for REM use */
html, body {
  font-family: "Exo 2", Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-align: center; }

p, li {
  font-family: "Source Sans Pro", Arial, serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
  letter-spacing: 0.02em; }

h1 {
  font-family: "Exo 2", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 300; }

h2 {
  font-family: "Exo 2", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 16px 0px;
  display: inline-block; }

.label, text {
  font-family: "Exo 2", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 100;
  fill: #ffffff;
  color: #ffffff;
  letter-spacing: 0.05em; }

#footer p {
  font-size: 14px;
  line-height: 20px; }

/*------------------------------------*    POSITIONING
\*------------------------------------*/
.text-right {
  text-align: right;
  float: right; }

.text-left {
  text-align: left;
  float: left; }

/*------------------------------------*    LINKS
\*------------------------------------*/
a {
  color: #008dda;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    color: #F28532;
    text-decoration: none; }

/*------------------------------------*    BUTTONS
\*------------------------------------*/
/****  Button/Input Sizing ****/
.xs {
  padding: 4px 8px;
  min-width: 72px; }

.sm {
  padding: 8px 12px;
  min-width: 80px; }

.md {
  padding: 12px 16px;
  min-width: 96px; }

.lg {
  padding: 16px 24px;
  min-width: 120px; }

/**** BUTTONS ****/
button {
  margin: 16px 4px 0px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  border-radius: 5px;
  background-color: #BCAF7E;
  border: solid 1px #BCAF7E;
  color: #ffffff; }
  button:hover, button:focus, button:active {
    background-color: #665C3C;
    border: solid 1px #665C3C;
    color: #ffffff; }

/*------------------------------------*    LIST
\*------------------------------------*/
ul {
  list-style-type: none;
  text-align: left; }

ul li:before {
  padding-right: 8px; }

ul li {
  line-height: 32px; }

/*------------------------------------*    INPUTS
\*------------------------------------*/
input {
  border: 1px solid #BCAF7E;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff; }
  input:focus {
    outline: 0;
    border: 1px solid #665C3C; }

@media only screen and (min-width: 480px) {
  input {
    font-size: 16px;
    line-height: 24px; } }
