/*------------------------------------*\
    CHARTS
\*------------------------------------*/
.bar {
  fill: $primary-color;
}
.bar:hover, .active {
  fill: $accent-color !important;
}
.axis {
  font-family: $font-xs;
  font-size: $font-xs;
}
.axis path, .axis line {
  fill: none;
  stroke-width: 0;
  shape-rendering: crispEdges;
}
.path, path {
  fill: $dark-color;
  stroke: $dark-color;
  stroke-width: 1;
}