/*------------------------------------*\
    IMAGES
\*------------------------------------*/

img {
	vertical-align:bottom;
	max-width: 100%;
}
.logo img {
	max-width: 100%;
}
.icon {
	margin: 16px 0;
}
.press {
	margin: 32px auto 0;
}