/*------------------------------------*\
    INPUTS
\*------------------------------------*/

input {
	border: 1px solid $primary-color;
	font-size: $font-sm;
	line-height: $line-height-sm;
	color: $light-color;
	
	&:focus {
		outline:0;
		border:1px solid $hover-color;
	}
}


@media only screen and (min-width:480px) {
	input {
		font-size: $font-md;
		line-height: $line-height-md;
	}
}