/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

html, body {
  background-color: $dark-color;
  overflow: hidden;
}
.wrapper {
  // min-width: 1600px;
  max-width: 1920px;
  width: 90%;
  margin: 48px auto;
}
#header {
  margin: 24px auto 24px;
}
#input, #output {
  position: relative;
}
#details {
  position: absolute;
  width: 300px;
  top: 40%;
  right: 10%;
  padding: 16px;
  border-radius: 5px;
  background-color: $shadow-color;
  color: $light-color;
  z-index: 100;
}

/* Legends */
.mapLegend {
  width: 430px;
  height: 40px;
}
.legendCells {
  width: 430px;
  margin: 0 auto;
}

/* Style for Custom Tooltip */
.tooltip {   
  position: absolute;
  text-align: center;
  width: 240px;
  height: 150px;
  padding: 8px;
  background: $shadow-color;
  color: $light-color;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 100;
  opacity: 0;
}