/*------------------------------------*\
    SITEWIDE SASS VARIABLES
\*------------------------------------*/

$font-stack: 'Karla', 'Lucida Sans', Helvetica, Arial, sans-serif;
$font-serif: Georgia, "Times New Roman", Times, serif;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;
$font-display: 32px;
$line-height-xs: 16px;
$line-height-sm: 20px;
$line-height-md: 24px;
$line-height-lg: 32px;
$line-height-xl: 40px;
$line-height-display: 48px;

/**** Colors ****/
$default-color: #2e3347; // storm blue
$primary-color: #68d8d8; // seafoam blue
$secondary-color: #8d8d8d; // grey
$success-color: #26c794; // leaf green
$warning-color: #ffd64f; // golden
$danger-color: #ff5644; // clay red
$inverse-color: #ffffff; // white
$highlight-color: #fff7db; // beige
$shade-color: #616973; // grey blue
$dark-color: #081f2b; // midnight blue
$cta-color: #058f63; // forest green
$border-color: #d1d1d1; // soft grey
$link-color: #008dda; // cerulean
$link-hover-color: #004383; // navy
$disabled-color: #e5e5e5; // light grey
$faint-color: #f3f3f3;

.disabled {
	opacity: 0.65;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $default-color; // Lighter background, return dark color
  } @else {
    @return $inverse-color; // Darker background, return light color
  }
}
