/*------------------------------------*\
    TEXT
\*------------------------------------*/

/* html element 62.5% font-size for REM use */
html, body {
	font-family: $font-stack;
	color: $light-color;
	text-align: center;
}
p, li {
	font-family: $font-secondary;
	font-size: $font-sm;
  	line-height: $line-height-sm;
	font-weight: $font-weight-md;
	color: $light-color;
	margin: 0;
	letter-spacing: 0.02em;
}
h1 {
	font-family: $font-stack;
	margin: 0 auto;
	font-size: $font-display;
	font-weight: $font-weight-md;
}
h2 {
	font-family: $font-stack;
  	font-weight: $font-weight-md;
	font-size: $font-lg;
	line-height: $line-height-md;
	margin: 16px 16px 8px 16px;
	display: inline-block;
}
h3 {
	font-family: $font-stack;
  	font-weight: $font-weight-md;
	font-size: $font-md;
	line-height: $line-height-sm;
	text-transform: uppercase;
	margin: 0 auto 8px;
}
.label, text {
	font-family: $font-stack;
	font-size: $font-xs;
	font-weight: $font-weight-sm;
	fill: $light-color;
	color: $light-color;
	letter-spacing: 0.05em;
}
#footer p {
	font-size: $font-sm;
	line-height: $line-height-sm;
}

/*------------------------------------*\
    POSITIONING
\*------------------------------------*/

.text-right {
  text-align: right;
  float: right;
}
.text-left {
  text-align: left;
  float: left;
}

/*------------------------------------*\
    LINKS
\*------------------------------------*/

a {
	color: $link-color;
	text-decoration: none;

	&:hover, &:focus, &:active {
		color: $accent-color;
		text-decoration:none;
	}
}

/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

/****  Button/Input Sizing ****/
.xs {
	padding: 2px 4px;
	min-width: 64px;
}
.sm {
	padding: 4px 8px;
	min-width: 80px;
}
.md {
	padding: 8px 12px;
	min-width: 96px;
}
.lg {
	padding: 16px 24px;
	min-width: 120px;
}

/**** BUTTONS ****/

button {
	margin: 16px 8px 0px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: $font-weight-sm;
	font-size: $font-sm;
	border-radius: 2px;
	letter-spacing: 0.05em;
	background-color: $hover-color;
	border: 0;
	color: $light-color;

	&:hover, &:focus, &:active {
		background-color: $primary-color;
		color: $light-color;
	}
}

/*------------------------------------*\
    LIST
\*------------------------------------*/
ul {
	list-style-type: none;
	text-align: left;
}
ul li:before {
	padding-right: 8px;
}
ul li {
	line-height: $line-height-lg;
}