/*------------------------------------*\
    SITEWIDE SASS VARIABLES
\*------------------------------------*/

$font-stack: 'Exo 2', Helvetica, Arial, sans-serif;
$font-secondary: 'Source Sans Pro', Arial, serif;
$font-weight-sm: 100;
$font-weight-md: 300;
$font-weight-lg: 400;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;
$font-display: 32px;
$line-height-xs: 16px;
$line-height-sm: 20px;
$line-height-md: 24px;
$line-height-lg: 32px;
$line-height-xl: 40px;
$line-height-display: 48px;

/**** Colors ****/
$dark-color: #051A2D; // dark blue
$light-color: #ffffff; // white
$primary-color: #BCAF7E; // light tan
$hover-color: #665C3C; // dark tan
$accent-color: #F28532; // orange
$link-color: #008dda; // cerulean
$disabled-color: #999999; // grey
$shadow-color: #333333; // gray
.disabled, .overlay {
  opacity: 0.65;
}