body {
	background-color: #fff;
	color: #333;
	font-family: 'PT Sans',Arial, serif;
	font-size: 12px;
}
#header {
	width: 75%;
	max-width: 600px;
	margin: 0 auto;
}
#client {
	position: absolute;
	margin: 0 auto;
	left: 77%;
	bottom: 0px;
}
p {
	font-family: 'Lora', serif;
	font-size:  13px;
	line-height: 1.5em;
	text-align: center;
}
h1 {
	margin: 48px auto 24px;
	font-family: 'Lora', serif;
	font-size: 28px;
	text-align: center;
	font-weight: 400;
}
svg {
	display: block;
	margin: 0 auto 24px;
}
/* On mouse hover, lighten state color 
path:hover {
	fill-opacity: .9;
}
*/

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;
	text-align: center;
	width: 164px;
	height: 64px;
	padding: 8px;
	background: #333;
	color: #fff;
	border: 0px;
	border-radius: 5px;
	pointer-events: none;
	z-index: 100;
}
        
/* Legend Position Style */
.legend {
	position: relative;
	margin: 0 auto;
	top: 40px;
	width: 480px;
	height: 80px;
	display: block;
}