body {
	background-color: #fff;
	color: #333;
	font: 11px sans-serif;
}
svg {
	display: block;
	margin: 48px auto;
}
/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
        
/* Legend Position Style */
.legend {
	position: relative;
	margin: 0 auto;
	top: 0;
}