body {
	background-color: #fff;
	color: #333;
	font-family: 'PT Sans',Arial, serif;
	font-size: 12px;
}
#header {
	width: 75%;
	max-width: 600px;
	margin: 48px auto;
}
.nav {
	text-align: center;
}
#map, #details {
	margin: 24px auto 0;
	text-align: center;
}
#map svg {
	margin: 16px auto;
	display: block;
}
#mapLegend {
	margin: 0 auto;
	width: 430px;
	height: 60px;
	display: block;
}
#circleLegend {
	margin: 0 auto;
	width: 150px;
	height: 40px;
	display: block;
}
#details svg {
	margin: 8px;
	display: inline-block;
}
#detailLegend {
	width: 150px;
	height: 232px;
	float: left;
}
#detailPie {
	display: inline-block;
	float: right;
	width: 75%;
}
#clients {
	display: block;
	width: 80%;
	margin: 0 auto;
}


button {
	border: 1px;
	padding: 8px 12px;
	background-color: #aeaeae;
	border-radius: 5px;
	margin: 4px 8px;
}
button:hover {
	background-color: #eee;
	transition: 0.2s;
}
p {
	font-family: 'Lora', serif;
	font-size:  13px;
	line-height: 1.5em;
	text-align: center;
}
h1 {
	margin: 48px auto 24px;
	font-family: 'Lora', serif;
	font-size: 28px;
	text-align: center;
	font-weight: 400;
}
svg {
	display: block;
}
.arc {
	stroke: #fff;
}
/* On mouse hover, lighten state color 
path:hover {
	fill-opacity: .9;
}
*/

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;
	text-align: center;
	width: 164px;
	height: 80px;
	padding: 8px;
	background: #333;
	color: #fff;
	border: 0px;
	border-radius: 5px;
	pointer-events: none;
	z-index: 100;
}